body{
    margin:0;
    font-family:Arial,sans-serif;
}

header{
    background:#4CAF50;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.btn{
    background:white;
    color:#4CAF50;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}

.about{
    text-align:center;
    padding:50px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}
